html {
  font-size: 14px;
}

@media (max-width: 767px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 11px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 12px;
  }
}
